/*
Color 1: #1F2937
Color 2: #3882F6
Color 3: #E5E7EB

*/

body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

.top-section {
  background-color: #1f2937;
}

header {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.links {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  list-style-type: none;
}

.header-content {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  width: 100%;
}

.hero-content {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  align-items: center;
  justify-content: center;
  text-align: left;
  padding: 6rem 0;
}

.left-side,
.right-side {
  width: 40%;
}

.container {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0 auto;
}

h1 {
  color: #e5e7eb;
  font-size: 48px;
  margin: 10px 0;
  font-weight: 900;
}

p {
  font-size: 18px;
  color: #e5e7eb;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
}

.hero-button {
  background-color: #3882f6;
  color: #e5e7eb;
  padding: 5px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.oni {
  width: 90%;
}

.features {
  padding: 2rem;
}

.section-title {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 0;
}

.card-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4rem;
}

.card  {
  width: 150px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.square {
  border: 4px solid #3882f6;
  border-radius: 20px;
  width: 150px;
  height: 150px;
}

.subtext {
  color: #707070;
  font-size: 16px;
  text-align: center;
  width: 150px;
}

.quote-area {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.quote {
  background-color: #e5e7eb;
  padding: 8rem;
}

.quote-text {
  font-size: 36px;
  font-weight: 200;
  text-emphasis-style: italic;
  margin: 0;
}

.quote-author {
  font-size: 24px;
  font-weight: 700;
  text-align: right;
}

.cta-section {
  background-color: white;
  padding: 7rem;
}

.cta {
  display: flex;
  width: 70%;
  background-color: #3882f6;
  color: white;
  border-radius: 10px;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  gap: 6rem;
}

.cta-subtext {
  font-size: 14px;
  font-weight: 400;
}

.cta-button {
  background-color: #3882f6;
  color: #e5e7eb;
  padding: 7px 20px;
  border: 3px solid white;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

footer {
  background-color: #1f2937;
  padding: 2rem;
  color: #e5e7eb;
  text-align: center;
}